<style>
@page {
	@bottom {
		content: counter(page);
		color: #270;
		font-family: exo;
	}
	@top {
		content: "Commissions by Joe Bush / Arcandio";
		color: #270;
		font-family: exo;
	}
}
/*@page:first{
	@top {
		content: "";
	}
}*/
html, body {
	max-width: 8.5in;
	box-sizing: border-box;
}
html > body > :nth-child(1),
html > body > :nth-child(2) {
	display: none;
	visibility: hidden;
}
a[href] {
	color: #390;
}
h1, h2, h3, h4, h5, h6 {
	font-family: exo;
	border-bottom: 1px solid #5F0;
}
h1, h2 {
	font-weight: bolder;
}
h1 {
	page-break-before: always;
}
blockquote {
	margin-left: 0px;
	color: #270;
	padding-left: 1em;
	border-left: thick solid;
}
img {
	max-width: 100%;
	height: auto;
}
.renders {
	page-break-after: always;
}
.renders img,
.faces img{
	max-height: 3.2in;
	width: auto;
}
.renders img {
	
}
.faces img {
	max-width: 20%;
	height: auto;
}
a[href^="#"]::after {
	content: " [page " target-counter(attr(href), page) "]";
	font-size: .8em;
	vertical-align: super;
}
a[href^="h"]::after {
	font-family: "Segoe UI Emoji";
	content: " 🌎";
	font-size: .7em;
	vertical-align: super;
}
a[href^="m"]::after {
	font-family: "Segoe UI Emoji";
	content: " ✉";
	font-size: .7em;
	vertical-align: super;

}
table {
	width: 100%;
}
tr.odd {
	background-color: rgba(85, 255, 0, .2)
}
td {
	padding: 3px;
}

</style>