{{ define "main" }}
	<article class="single">
		<h1>{{ .Title }}</h1>
		<span class="subtle">{{ .Date.Format "2006-01-02" }}</span>
		{{ partial "hashtags.html" . }}
		<table>
			<tr>
				<th>Project</th>
				<th>Thumb</th>
				<th>Description</th>
				<th>Tech</th>
			</tr>
			{{ $page_link := .Permalink }}
			{{ $tags := .Params.tagtargets }}
			{{ range .Site.Pages }}
			    {{ $page := . }}
			    {{ $has_common_tags := intersect $tags .Params.tags | len | lt 1 }}
			    {{ if and $has_common_tags (ne $page_link $page.Permalink) }}
			    	<tr>
					    <td>
						    <a href="{{ $page.Permalink }}">
					        	{{ $page.Title }}
						    </a>
						</td>
						<td>
						    <a href="{{ $page.Permalink }}">
					        	<img class="thumbnail" src="{{ $page.Params.featured_image}}">
						    </a>
						</td>
						<td>
		        			{{ $page.Params.description }}
						</td>
						<td>
			        		{{ $page.Params.tech }}
						</td>
					</tr>
			    {{ end }}
			{{ end }}
		</table>
		{{ .Content }}
	</article>
{{ end }}