<a class="card" href="{{ .RelPermalink }}">
	<article>
		{{ with .Params.featured_image }}
			<div style="background-image: url({{ . | relURL }})" >
			</div>
		{{end}}
		<h2>
			{{ .Title }}		
		</h2>
		{{ partial "countoftags.html" . }}
		{{ with .Params.tags }}
			<ul class="hashtags subtle">
				{{ range . }}
				<li>
					#{{ . }}
				</li>
				{{ end }}
			</ul>
		{{end}}
		<p>{{ .Summary }}</p>
	</article>
</a>