<footer class="subtle">
	<div class="flexbox">
		<div>
			{{ partial "footertags.html" . }}
		</div>
		<div>
			<h2>Pages</h2>
			<ul>
				{{ range where .Site.RegularPages "Section" "page" }}
					<li>
						<a href="{{ .Permalink }}">{{ .Title }}</a>
					</li>
				{{end}}
			</ul>
		</div>
		<div>
			<h2>Social</h2>
			<ul>
				{{ range .Site.Params.social}}
					<li>
						<a href="{{ .url }}" target="_blank"><i class="{{ .prefix}}{{ .identifier }}"></i>&nbsp;{{ .identifier}}</a>
					</li>
				{{end}}
			</ul>
		</div>
	</div>
	<div class="centered copyright">
		&copy; {{ .Site.Copyright }} - {{ now.Year }}
	</div>
	<!-- Scripts -->
	<!-- <script src="/js/sorttable.js"></script> -->
	<script src="/js/showFootnote.js"></script>
</footer>