{{ if .Params.hidehero }}
	<br>
	<br>
	<br>
{{ else }}
	{{ if isset .Params "featured_image" }}
		<div style="background-image: url({{ .Params.featured_image | relURL }})" class="hero"/></div>
	{{ else if isset .Site.Params "featured_image" }}
		<div style="background-image: url({{ .Site.Params.featured_image | relURL }})" class="hero"/></div>
	{{end}}
{{end}}