{{ $related := first 2 (.Site.RegularPages.Related . ) }}
{{ with $related}}
	<h3>Related</h3>
	<div class="flexbox cards smallcards">
		
		{{ range $related }}
			{{ partial "card.html" . }}
		{{end}}
	</div>
	<hr>
{{end}}