.footnote-ref {
    position: relative;
}
.hidden-joke {
	display: inline-block;
    /* display: block; */
    visibility: hidden;
	position: absolute;
    /* position: relative; */
    /* left: 1em; */
    /* top: 0em; */
	box-shadow: 0 0 1em black;
	border: thin solid #333;
	background-color: #222;
    padding: 1em;
    z-index: 1;
    width: 20vh;
    max-width: 20vh;
    height: auto;
    line-height: 1.2em;
}
.footnote-ref:hover .hidden-joke {
	display: inline-block;
    visibility: visible;
}
.hidden-joke * {
    display: inline-block;
    /* position: relative; */
}
.hidden-joke .footnote-backref {
    display: none;
}