{{ define "main" }}
	<article class="single">
		<h1>{{ .Title }}</h1>
		<span class="subtle">{{ .Date.Format "2006-01-02" }}</span>
		{{ partial "hashtags.html" . }}
	  {{ .Content }}
	</article>
	<hr>
	<section>
		{{ partial "otherposts.html" . }}
	</section>
	<section>
		{{ template "_internal/disqus.html" . }}
	</section>
{{ end }}